<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LowyerDatalayer.Properties.Settings.CourtConnectionString"
            connectionString="Data Source=MARCELO-PC;Initial Catalog=CourtData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>